Interface/WebContent/wsdl/Insert.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertPost">
    <complexType>
     <sequence>
      <element name="category" type="xsd:string"/>
      <element name="imageUrl" type="xsd:base64Binary"/>
      <element name="article" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertPostResponse">
    <complexType>
     <sequence>
      <element name="insertPostReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertPostRequest">

      <wsdl:part element="impl:insertPost" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPostResponse">

      <wsdl:part element="impl:insertPostResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Insert">

      <wsdl:operation name="insertPost">

         <wsdl:input message="impl:insertPostRequest" name="insertPostRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertPostResponse" name="insertPostResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InsertSoapBinding" type="impl:Insert">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertPost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertPostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertPostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InsertService">

      <wsdl:port binding="impl:InsertSoapBinding" name="Insert">

         <wsdlsoap:address location="http://localhost:8080/magazine/services/Insert"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
