Interface/WebContent/wsdl/Search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchPostsByCategory">
    <complexType>
     <sequence>
      <element name="category" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchPostsByCategoryResponse">
    <complexType>
     <sequence>
      <element name="searchPostsByCategoryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchPostsByCategoryRequest">

      <wsdl:part element="impl:searchPostsByCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchPostsByCategoryResponse">

      <wsdl:part element="impl:searchPostsByCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Search">

      <wsdl:operation name="searchPostsByCategory">

         <wsdl:input message="impl:searchPostsByCategoryRequest" name="searchPostsByCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchPostsByCategoryResponse" name="searchPostsByCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SearchSoapBinding" type="impl:Search">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchPostsByCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchPostsByCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchPostsByCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SearchService">

      <wsdl:port binding="impl:SearchSoapBinding" name="Search">

         <wsdlsoap:address location="http://localhost:8080/magazine/services/Search"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
