magazine/WebContent/wsdl/getpost.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="get_post">
    <complexType>
     <sequence>
      <element name="posttitle" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="get_postResponse">
    <complexType>
     <sequence>
      <element name="get_postReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="get_postRequest">

      <wsdl:part element="impl:get_post" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="get_postResponse">

      <wsdl:part element="impl:get_postResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="getpost">

      <wsdl:operation name="get_post">

         <wsdl:input message="impl:get_postRequest" name="get_postRequest">

       </wsdl:input>

         <wsdl:output message="impl:get_postResponse" name="get_postResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="getpostSoapBinding" type="impl:getpost">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get_post">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_postRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="get_postResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="getpostService">

      <wsdl:port binding="impl:getpostSoapBinding" name="getpost">

         <wsdlsoap:address location="http://localhost:8080/magazine/services/getpost"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
