magazine/WebContent/wsdl/SearchUsecase.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getdescription">
    <complexType>
     <sequence>
      <element name="searched" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getdescriptionResponse">
    <complexType>
     <sequence>
      <element name="getdescriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getdescriptionRequest">

      <wsdl:part element="impl:getdescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getdescriptionResponse">

      <wsdl:part element="impl:getdescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SearchUsecase">

      <wsdl:operation name="getdescription">

         <wsdl:input message="impl:getdescriptionRequest" name="getdescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getdescriptionResponse" name="getdescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SearchUsecaseSoapBinding" type="impl:SearchUsecase">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getdescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getdescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getdescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SearchUsecaseService">

      <wsdl:port binding="impl:SearchUsecaseSoapBinding" name="SearchUsecase">

         <wsdlsoap:address location="http://localhost:8080/magazine/services/SearchUsecase"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
